body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: linear-gradient(100deg, #f75990, #fff685, #00DDFF, #0049B7)
}

.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 400px;
    justify-content: space-around;
    margin-bottom: 20px;
}

.footer {
    display: flex;
    justify-content: space-between;
    width: 500px;
    margin-top: 20px;
}

button {
    padding: 15px;
    border: 0;
    border-radius: 5px;
    font-weight: bold;
}

button:hover {
    cursor: pointer;
}

.grayb {
    background-color: rgb(160, 159, 159);
    color: white;
}

.grayb:hover {
    background-color: rgb(175, 172, 172);
    color: gray;
}

#popup {
    background-color: royalblue;
    color: yellow;
}

#popup:hover {
    background-color: rgb(42, 64, 130);
}

.blackb {
    background-color: black;
    color: yellow;
}

.blackb:hover {
    color: black;
}

.randomb {
    background: linear-gradient(45deg, red, orange, yellow, green, blue, indigo, violet, red);
    color: white;
}

.randomb:hover {
    color: black;
}

.eraserb {
    background-color: white;
    border: 1px solid black;
}

.eraserb:hover {
    background-color: rgb(118, 190, 209);
    border: 1px solid white;
    color: whitesmoke;
}

.resetb {
    background-color: rgb(172, 35, 35);
    color: yellow;
}

.resetb:hover {
    background-color: rgb(195, 68, 68);
}

.board {
    height: 500px;
    width: 500px;
    display: grid;
    border: 5px solid black;
    border-radius: 5px;
    background-color: white;
}